In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## The GSI's Defense ##

In [2]:
scores = Table.read_table('scores_by_section.csv')
scores

Section | Midterm
1       | 22
2       | 12
2       | 23
2       | 14
1       | 20
3       | 25
4       | 19
1       | 24
5       | 8
6       | 14
... (349 rows omitted)

In [3]:
scores.group('Section')

Section | count
1       | 32
2       | 32
3       | 27
4       | 30
5       | 33
6       | 32
7       | 24
8       | 29
9       | 30
10      | 34
... (2 rows omitted)

In [4]:
scores.group('Section', np.average).show()

In [5]:
observed_average = 13.6667

In [6]:
random_sample = scores.sample(27, with_replacement=False)
random_sample

Section | Midterm
5       | 25
12      | 19
5       | 8
12      | 19
2       | 12
12      | 19
2       | 17
5       | 22
6       | 21
4       | 13
... (17 rows omitted)

In [7]:
np.average(random_sample.column('Midterm'))

15.851851851851851

In [8]:
# Simulate one value of the test statistic 
# under the hypothesis that the section is like a random sample from the class

def random_sample_midterm_avg():
    random_sample = scores.sample(27, with_replacement = False)
    return np.average(random_sample.column('Midterm'))

In [ ]:
# Simulate 50,000 copies of the test statistic

sample_averages = make_array()

for i in np.arange(50000):
    sample_averages = np.append(sample_averages, random_sample_midterm_avg())

In [ ]:
# Compare the simulated distribution of the statistic
# and the actual observed statistic

averages_tbl = Table().with_column('Random Sample Average', sample_averages)
averages_tbl.hist(bins = 20)
plots.scatter(observed_average, -0.01, color='red', s=120);

In [ ]:
np.count_nonzero(sample_averages <= observed_average) / 50000

In [ ]:
# 5% of 50,000 = 2500

five_percent_point = averages_tbl.sort(0).column(0).item(2500)
five_percent_point

In [ ]:
averages_tbl.hist(bins = 20)
plots.plot([five_percent_point, five_percent_point], [0, 0.35], color='gold', lw=2)
plots.title('Area to the left of the gold line: 5%');